.branding {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs)
}

.branding h1 {
    font-size: 4.1875em;
    line-height: 0.8;
}

.tip {
    display: flex;
    align-items: center;
}

.dash {
    width: 2rem;
}