/* Common wrapper styles */
[id$="-wrapper"] {
    gap: var(--spacing-sm);
}

/* Common section styles */
#works,
#info,
#request {
    padding-left: 2rem;
}

#works,
#info {
    gap: var(--spacing-xs);
}

/* Common link styles */
#works a,
#info a {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    font-size: 1.75em;
    text-transform: uppercase;
    padding: 1pt var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);

    border-left: 1pt solid var(--dark-2);
    border-bottom: 1pt solid var(--dark-2);
}

/* Request section specific styles */
#request {
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

#request p {
    font-size: 4em;
}