h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  height: fit-content;
  font-weight: 200;
  letter-spacing: -10%;
}

.title {
  font-size: 67px;
  line-height: 0.85;
  color: var(--color-text);
  font-weight: 200;
}

.section-title {
  font-size: 16px;
  line-height: 0.9;
  color: var(--color-text);
  font-weight: 200;
  margin-bottom: var(--spacing-xs);
}

.text-base {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  height: fit-content;
  font-weight: 200;
  color: var(--color-text);
}

.heading {
  font-size: 67px;
  line-height: 0.85;
  padding-top: 0.1em;
}

.section-heading {
  font-size: 16px;
  line-height: 0.9;
  margin-bottom: 8px;
}

.link {
  font-size: 28px;
  color: var(--color-text);
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 0.9;
}

.link:hover {
  color: var(--color-bg);
}

.request-status {
    display: flex;
    font-size: 67px;
    color: var(--color-text);
    font-weight: 200;
}